* {
    box-sizing: border-box;
}

.container {
    height: 100%;
    width: 800px;
    padding: 50px 220px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.logo {
    display: block;
    width: 35px;
    margin: auto;
    border: 2px solid white;
}

.container h1 {
    margin-bottom: 25px;
}

form button {
    display: block;
    width: 100%; 
    border-radius: 50px;
    margin-top: 20px;
    padding: 8px;
    font-weight: bold;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
}

form 
.google-logo svg,
form 
.apple-logo svg
{
    width: 20px;
    margin-right: 5px;
}

form p {
    text-align: center;
    margin-bottom: 20px;
}

form input {
    display: block;
    margin-bottom: 30px;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
    font-weight: bold;
    color:  #2b3d50;
}

form .next {
    color: white;
    background-color: #000;
}

form 
.password,
form
.next
 {
    cursor: pointer;
    text-decoration: none;
}

form .password:hover, form .apple-logo:hover {
    background-color: whitesmoke;
}

footer {
    display: flex;
    gap: 5px;
    color: slategray;
    
}

footer a {
    color: dodgerblue;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}

.line {
    display: flex;
    align-items: center;
    gap: 5px;
}

.line hr {
    width: 50%;
    border: 1px solid #e7ecee;
    
}

form {
    margin-bottom: 50px;
}
